:host {
	flexgrow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.input label {
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	left: 10px;
	background: white;
	padding: 5px 2px;
}

div.input input {
	padding: 10px 20px;
	outline: 0;
}

div.input {
	margin-top: 20px;
}
button{
    margin:0 auto;
    display: block;
    background-color: #a8d342;
    width: 30%;
    height: 50px;
    border-radius: 15px;
    color: #414a52;
    border-color: #a7d34200;
    font-family: 'Open Sans', sans-serif;
}

h1{
    text-align: center;
    padding-top: 10%;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

a{
    margin:0 auto;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.signup {
    margin: auto;
    width: 50%;   
}


body{
    background-image: url("/assets/img/sfondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

input{
    border-color: white;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
}

#blank{
    padding-top: 10%;
}

label{
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#forgot{
    text-align: right;
}

#signup{
    text-align: center;
}

