a{
    font-family: myFirstFont;
    font-size: 20px;
    color: red !important;
}

h1{
    font-style: italic;
    font-size: 75px;
}

html {
    background-image: url("../../assets/images/gameMasterSfondo.jpg");
    background-size: 123%;
    background-attachment: fixed;
    height: 100%;
}

.bottone {

    color: black;
    width: 150px;
    border-radius: 15px;
}