<html>
<body> 
    <div class="nav">
        <nav class="navbar navbar-light bg-dark nav justify-content-end" id="nav">
            <ul>
                <li class="nav-item">
                    <a href="../viewSuper/">Indietro</a>
            </li>  
            <li class="nav-item">
                <a  (click)="logout()" href="/#/login">Logout</a>
            </li>
          </ul>
        </nav>
    </div>
      <div class="conteiner contenitore"> 
        <div style="text-align:center">
          <h1>
            Inserisci i dati del nuovo Game Master
          </h1>
        
              <form class="userForm" #f="ngForm">

                  <p>Username:<input type="text" name="username" class="form-control form-control-lg" ngModel/></p>
                  <p>Password:<input type="text" name="password" class="form-control form-control-lg" ngModel/></p>
                  
                  <button (click)="save(f)">Salva</button>
              </form>
        </div>    
      </div>
  </body>
</html>

