<html>
<body> 
    <div class="nav">
        <nav class="navbar navbar-light bg-dark nav justify-content-end" id="nav">
            <ul>
            <li class="nav-item">
                <a  (click)="logout()" href="/#/login">Logout</a>
            </li>
          </ul>
        </nav>
    </div>
      <div class="conteiner contenitore"> 
        <div style="text-align:center">
          <h1>
            Inserisci i dati del nuovo Game Master
          </h1>
              <form> <!--</form>#f="ngForm">-->
                  <div class="form-group separatore1">
                    <label for="usr">Username: </label>
                    <input type="text" class="form-control prova1" id="usr" name="username" ngModel required>
                  </div>
                  <div class="form-group separatore">
                    <label for="pwd"> Password: </label>
                    <input type="password" class="form-control prova1" id="pwd" name="password" ngModel required>
                  </div>
                  <ul class="accedi">
                  <button type="submit" class="bottone" (click)="login(f)">Salva</button>
                  </ul>
              </form>
        </div>    
      </div>
  </body>
</html>