<body>
  <div class="text">
        BENVENUTO NELLA PAGINA DI CREAZIONE DEL TUO GIOCO
  </div>

  <ul>
        <li>
            <a (click)="logout()">Logout</a>
        </li>
        <li class="nav-item">
                <a href="../gameMaster">Indietro</a>
        </li>    
        <li class="nav-item">
            <a  href="../newGame">Crea Nuovo Gioco</a>
        </li>
  </ul>

  <div>
      <table>
          <tr>
            <td>Nome</td>
            <td>Descrizione percorso</td>
            <td>Versione</td>
            <td>Descrizione evento</td>
            <td>Data inizio</td>
            <td>Data fine</td>
          </tr>
          
          <tr *ngFor="let game of games">
              <td>{{game.nome}}</td>
              <td>{{game.descr_percorso}}</td>
              <td>{{game.versione}}</td>
              <td>{{game.descrevento}}</td>
              <td>{{game.data_inizio}}</td>
              <td>{{game.data_fine}}</td>
              <td>
                  <tr><button class = "bottone2" [routerLink]="['/updateGame']" [queryParams]="{idGame: game.id}">Nuova versione</button></tr>
              
                  <tr><button class="bottone1" type = "submit" (click)="delete(game.id)">X</button></tr>
              </td>
          </tr>
      </table>
  </div>
  
</body>


