/* You can add global styles to this file, and also import other style files */
html { 
    background: url(../src/assets/images/stocazzo.jpg) no-repeat center center fixed; 
    background-size: 100%;
    background-attachment: fixed;
    }