<html>
  <body>
<div style="text-align:center">
  <div class="conteiner">
      <h1>
        Welcome Game Master!
      </h1>
    <h2>Scegli cosa vuoi fare: </h2>
        <h2><button class = "bottone" type="submit" [routerLink]="['/game']">Gestione Giochi</button></h2>
        <h2><button class = "bottone" type="submit" [routerLink]="['/poi']">Gestione Punti di Interesse</button></h2>
        <h2><button class = "bottone" type="submit" [routerLink]="['/sponsor']">Gestione Sponsor</button></h2>
        <h2><button class = "bottone" type="submit" [routerLink]="['/team']">Gestione Team</button></h2>
        <a class="nav-link" (click) = "logout()">Logout</a>
</div>
</div>
</body>
</html>

