<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginTraderServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.LoginTraderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomeSuperServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.HomeSuperServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomeGamerServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.HomeGamerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SponsorServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.SponsorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LabelServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.LabelServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.MenuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AssegnazioneServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.AssegnazioneServlet</servlet-class>
  </servlet>
  
  <!-- _______________________________________________________________________________________ -->
  
  <servlet-mapping>
    <servlet-name>LoginTraderServlet</servlet-name>
    <url-pattern>/LoginTraderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeSuperServlet</servlet-name>
    <url-pattern>/HomeSuperServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeGamerServlet</servlet-name>
    <url-pattern>/HomeGamerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SponsorServlet</servlet-name>
    <url-pattern>/SponsorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LabelServlet</servlet-name>
    <url-pattern>/LabelServlet</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AssegnazioneServlet</servlet-name>
    <url-pattern>/AssegnazioneServlet</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>4000</session-timeout>
  </session-config>
   
</web-app>